body {
    background-color: #f7f7f7;
}

.xp-badge{
    background: url("/static/badge.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 250px; height: 250px;
}

.xp-badge .display-3 {
    font-family: "Inter", sans-serif;
}
