body {
    background-color: #f7f7f7;
}

.xp-badge{
    background: url("/static/badge.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 250px; height: 250px;
}
