{% extends "layout.html" %}

{% block title %}
    Opportunity
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('general.signout') }}">Sign Out</a>
    </li>
{% endblock %}

{% block body %}
    <div class="align-items-center justify-content-center row h-100">
        {% if get_flashed_messages() %}
            <div class="mx-4 my-3 position-fixed bottom-0 end-0 show toast">
                <div class="toast-header" role="alert">
                    <strong class="me-auto">Alert</strong>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
                </div>
                <div class="toast-body">{{ get_flashed_messages() | join(" ") }}</div>
            </div>
        {% endif %}
        <div class="col-lg-8 py-5">
            <div class="bg-white border mb-2 p-4 row">
                <p><a href="{{ url_for('general.index') }}">Go back</a></p>
                <h1>{{ opportunity.title }}</h1>
                <p>Hosted by <b>{{ opportunity.organizer.name }}</b></p>
                <h2>About the Organizer</h2>
                <p>{{ opportunity.organizer.description }}</p>
                <h2>About the Opportunity</h2>
                <p>{{ opportunity.description }}</p>
                <div>
                    <p class="badge bg-primary d-inline"><b>Hours</b>: {{ opportunity.hours }}</p>
                    <p class="badge bg-primary"><b>Start date</b>: {{ opportunity.start_date }}</p>
                    <p class="badge bg-success"><b>XP</b>: {{ opportunity.xp }}</p>
                    <p class="badge bg-info"><b>Open</b>: {{ "No" if opportunity.ended else "Yes" }}</p>
                    <p class="badge bg-dark"><b># of participants</b>: {{ opportunity.participants | length }}</p>
                </div>
                {% if is_organizer %}
                    <h2>For the organizer</h2>
                    {% if opportunity.participants | length %}
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <td>Email</td>
                                    <td>Username</td>
                                    <td>End volunteering</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in opportunity.participants %}
                                    <tr>
                                        <td>{{ participant.user.email }}</td>
                                        <td>{{ participant.user.username }}</td>
                                        <td>
                                            {% if not participant.xp_given %}
                                                <form action="{{ url_for('events.end_individual') }}" method="post">
                                                    <input type="hidden" name="opportunity_id" value="{{ opportunity.id }}"/>
                                                    <input type="hidden" name="user_id" value="{{ participant.user_id }}"/>
                                                    <button class="btn btn-link p-0 align-top" type="submit">End volunteering for volunteer</button>
                                                </form>
                                            {% else %}
                                                Opportunity has been ended for this volunteer.
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No volunteers yet.</p>
                    {% endif %}
                    {% if not opportunity.ended %}
                        <form action="{{ url_for('events.end') }}" method="post">
                            <input type="hidden" name="id" value="{{ opportunity.id }}"/>
                            <button class="btn btn-success" type="submit">End volunteer sign-ups</button>
                        </form>
                    {% else %}
                        <button class="btn btn-success" disabled>Volunteer sign-ups ended</button>
                    {% endif %}
                {% else %}
                    <h2>For the volunteer</h2>
                    {% if joined %}
                        <p>Joined!</p>
                    {% elif not opportunity.ended %}
                        <form action="{{ url_for('events.join') }}" method="post">
                            <input type="hidden" name="id" value="{{ opportunity.id }}"/>
                            <button class="btn btn-success" type="submit">Volunteer for opportunity!</button>
                        </form>
                    {% else %}
                        <p>Submissions have been closed.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
