{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='account.css') }}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('general.signup') }}">Or sign up</a>
    </li>
{% endblock %}

{% block body %}
    <div class="align-items-center justify-content-center row h-100">
        <div class="col-lg-8 py-5">
            <div class="bg-white border mb-2 p-4 row">
                {% if get_flashed_messages() %}
                    <div class="alert alert-success mb-3">{{ get_flashed_messages() | join(" ") }}</div>
                {% endif %}
                <form class="col-lg-6 border-right p-3" action="{{ url_for('general.signin') }}" method="post">
                    <h1 class="mb-3">Sign in as user</h1>
                    <div class="form-floating mb-1">
                        <input id="user-email" class="form-control" autocomplete="off" name="email" type="email" placeholder="johndoe@domain.com" required/>
                        <label for="user-email">Email address</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input id="user-password" class="form-control" autocomplete="off" name="password" type="password" placeholder="*****" required/>
                        <label for="user-password">Password</label>
                    </div>
                    <input autocomplete="off" name="type" type="hidden" value="user"/>
                    <button class="btn btn-success d-block w-100" type="submit">Sign in as user</button>
                </form>
                <form class="col-lg-6 p-3" action="{{ url_for('general.signin' )}}" method="post">
                    <h1 class="mb-3">Sign in as organization</h1>
                    <input autocomplete="off" name="type" type="hidden" value="organization"/>
                    <div class="form-floating mb-1">
                        <input id="organization-name" class="form-control" autocomplete="off" name="name" type="text" placeholder="What's the name of your organization?" required/>
                        <label for="organization-name">Organization name</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input id="organization-password" class="form-control" autocomplete="off" name="password" type="password" placeholder="Access password..." required/>
                        <label for="organization-password">Organization passcode</label>
                    </div>
                    <button class="btn btn-success d-block w-100" type="submit">Sign in as organization</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
