{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
    <form action="{{ url_for('general.signup') }}" method="post">
        <input autocomplete="off" name="type" type="hidden" value="user"/>
        <input autocomplete="off" name="email" type="email" maxlength="64" placeholder="johndoe@domain.com" required/>
        <input autocomplete="off" name="username" type="text" maxlength="64" placeholder="John Doe" required/>
        <input autocomplete="off" name="password" type="password" placeholder="*****" required/>
        <button type="submit">Sign up as user</button>
    </form>
    <form action="{{ url_for('general.signup' )}}" method="post">
        <input autcomplete="off" name="type" type="hidden" value="organization"/>
        <input autocomplete="off" name="name" type="text" placeholder="What's the name of your organization?" required/>
        <textarea autocomplete="off" name="description" placeholder="What does your organization do?" required></textarea>
        <input autocomplete="off" name="password" type="password" placeholder="Access password..." required/>
        <button type="submit">Sign up as organization</button>
    </form>
    <a href="{{ url_for('general.signin') }}">Or sign in</a>
{% endblock %}
