{% extends "layout.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block body %}
    <p>{{ name }}</p>
    <p>{{ email }}</p>
    <a href="{{ url_for('general.signout') }}">Sign out</a>
    <p>{{ xp }} XP</p>
    <p>Level {{ xp // 100 }}</p>
    <p>About {{ xp + 1 % 100 }} to next level</p>
    <h2>My Opportunities</h2>
    {% if joined_opportunities %}
        {% for event in joined_opportunities %}
            <h2>{{ event.event.title }}</h2>
            <p>{{ event.event.description[:100] }}...</p>
            <p><b>Hours</b>: {{ event.event.hours }}</p>
            <p><b>Start date</b>: {{ event.event.start_date }}</p>
            <p><b>XP</b>: {{ event.event.xp }}</p>
            <p><b>Open</b>: {{ "No" if event.event.ended else "Yes" }}</p>
            <p><b># of participants</b>: {{ event.event.participants | length }}</p>
            <a href="{{ url_for('events.opportunity', id=event.event.id) }}">View</a>
        {% endfor %}
    {% endif %}
    <h2>Recent Opportunities</h2>
    {% if opportunities %}
        {% for event in opportunities %}
            <h2>{{ event[0].title }}</h2>
            <p>{{ event[0].description[:100] }}...</p>
            <p><b>Hours</b>: {{ event[0].hours }}</p>
            <p><b>Start date</b>: {{ event[0].start_date }}</p>
            <p><b>XP</b>: {{ event[0].xp }}</p>
            <p><b>Open</b>: {{ "No" if event[0].ended else "Yes" }}</p>
            <p><b># of participants</b>: {{ event[0].participants | length }}</p>
            <a href="{{ url_for('events.opportunity', id=event[0].id) }}">View</a>
        {% endfor %}
    {% else %}
        <p>No opportunities found.</p>
    {% endif %}
{% endblock %}
