{% extends "layout.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="#">{{ name }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('general.signout') }}">Sign Out</a>
    </li>
{% endblock %}

{% block body %}
<div class="g-3 py-4 row h-100">
    {% if get_flashed_messages() %}
        <div class="mx-4 my-3 position-fixed bottom-0 end-0 show toast">
            <div class="toast-header" role="alert">
                <strong class="me-auto">Alert</strong>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
            </div>
            <div class="toast-body">{{ get_flashed_messages() | join(" ") }}</div>
        </div>
    {% endif %}
    <div class="col-lg-6">
        <div class="bg-white border mb-2 p-4">
            <p>{{ email }}</p>
            <div class="row mb-3">
                <div class="align-items-center d-flex justify-content-center col-lg-6 xp-badge text-center p-3 mb-3 mb-lg-0">
                    <h1 class="display-3">{{ xp }} XP</h1>
                </div>
                <div class="col-lg-6">
                    <img class="w-100" src="{{ url_for('static', filename='footprints.png') }}"/>
                </div>
            </div>
            {% set level = xp // config.XP_PER_HOUR %}
            {% set remaining_xp = ((level + 1) * config.XP_PER_HOUR) - xp %}
            <p class="mb-1">Level {{ level }} - {{ remaining_xp }} more XP to level {{ level + 1 }}</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ 100 - remaining_xp }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="bg-white border mb-2 p-4">
            <h1>Leaderboard</h1>
            <p>Keep going!</p>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Username</td>
                        <td>XP</td>
                        <td>Hours</td>
                    </tr>
                </thead>
                <tbody>
                    {% for pos, user in enumerate(leaderboard) %}
                        <tr>
                            <td>#{{ pos + 1 }}</td>
                            {% if user[0].username == name %}
                                <td><i><b>{{ user[0].username }}</b></i></td>
                            {% else %}
                                <td>{{ user[0].username }}</td>
                            {% endif %}
                            <td>{{ user[0].xp }}</td>
                            <td>{{ user[0].hours }}</td>
                        </tr>
                    {% endfor %}
                    {% if leaderboard_position %}
                        <tr>
                            <td>#{{ leaderboard_position }}</td>
                            <td><i><b>{{ name }}</b></i></td>
                            <td>{{ xp }}</td>
                            <td>{{ hours }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bg-white border mb-2 p-4">
            <h2>I'm volunteering at...</h2>
            {% if joined_opportunities %}
                {% for event in joined_opportunities %}
                    <div class="card my-3">
                        <div class="card-body">
                            <h2>{{ event.event.title }}</h2>
                            <p>{{ event.event.description[:100] }}...</p>
                            <p class="badge bg-primary"><b>Hours</b>: {{ event.event.hours }}</p>
                            <p class="badge bg-primary"><b>Start date</b>: {{ event.event.start_date }}</p>
                            <p class="badge bg-success"><b>XP</b>: {{ event.event.xp }}</p>
                            <p class="badge bg-info"><b>Open</b>: {{ "No" if event.event.ended else "Yes" }}</p>
                            <p class="badge bg-dark"><b># of participants</b>: {{ event.event.participants | length }}</p>
                            <p><a href="{{ url_for('events.opportunity', id=event.event.id) }}">View</a></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You haven't joined any opportunities yet. Join a service, start volunteering, and level up!</p>
            {% endif %}
        </div>
        <div class="bg-white border mb-2 p-4">
            <h2>Recent Opportunities</h2>
            {% if opportunities %}
                {% for event in opportunities %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2>{{ event[0].title }}</h2>
                        <p>{{ event[0].description[:100] }}...</p>
                        <p class="badge bg-primary"><b>Hours</b>: {{ event[0].hours }}</p>
                        <p class="badge bg-primary"><b>XP</b>: {{ event[0].xp }}</p>
                        <p class="badge bg-success"><b>Start date</b>: {{ event[0].start_date }}</p>
                        <p class="badge bg-info"><b>Open</b>: {{ "No" if event[0].ended else "Yes" }}</p>
                        <p class="badge bg-dark"><b># of participants</b>: {{ event[0].participants | length }}</p>
                        <p><a href="{{ url_for('events.opportunity', id=event[0].id) }}">View</a></p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No opportunities found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
